@charset "utf-8";
/* CSS Document */

*{margin:0px; padding:0px;}

body{
		font-family:Arial, Helvetica, sans-serif;}

.wrapper{
	width:100%;
	float:left;
	background-image:url(../images/bg_top.png);
	background-repeat:repeat-x;}

.main_wrap{
    width:948px;
	margin: 0 auto;}

.side_wrap{
	width:100%;
	float:left;
	text-align:right;
	color: #8B0000;
    font-size: 12px;
	margin-top:18px;}

.side_wrap span{
	padding:0px 7px;}
	
.side_wrap a{
	color: #8B0000;
	text-decoration:none;}
	
.side_wrap a:hover{
	text-decoration:underline;}

.logo{
	width:100%;
	float:left;
	margin-bottom:30px;}

.form_wrap{
	width:100%;
	float:left;}
	
.form_wrap_sup{
	width:612px;
	margin:0px auto;}

.form_wrap_sup_add{
	width:100%;
	float:left;
	border: 1px solid #cdcdcd;
	background-color:#fff;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;}

.left_wrap{
	width:325px;
	float:left;}

.left_wrap_style1{
	width: 265px;
	float: left;
	background-image: url(../images/us_icon.gif);
	background-repeat: no-repeat;
	background-position: left center;
	margin: 20px 0px 0px 20px;
	font-size: 24px;
	padding-left: 40px;
	color: #8B0000;
}
	
.form_int_style{
	border-right: 1px solid #CCCCCC;
    box-sizing: border-box;
    height: 220px;
	float:left;
    margin-top: 20px;
    padding-bottom: 8px;
    padding-right: 10px;
    padding-top: 18px;
    width: 325px;}

.int_style1{
	width:265px;
	float:left;
	padding-left:60px;
	padding-top:10px;}

.int_style2{
	border: 1px solid #cdcdcd;
    border-radius: 2px;
    box-shadow: none;
    color: #666666;
    font-size: 12px;
    height: 30px;
    line-height: 30px;
	float:left;
    outline: medium none;
    padding: 0 0 0 5px;
    width: 195px;}

.int_style3{
	width:265px;
	float:left;
	font-size:14px;
	color:##333333;
	padding:24px 0px 0px 60px;}
	
.int_style4{
	width:265px;
	float:left;
	padding:24px 0px 0px 60px;}

.bt_style{
    background: rgba(0, 0, 0, 0) linear-gradient(to top, #8B0000 0%, #8B0000 100%) repeat scroll 0 0 padding-box;
    border: medium none;
    border-radius: 4px;
    box-shadow: none;
    color: #ffffff;
    cursor: pointer;
    font-family: Helvetica-Neue,Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight: bold;
    height: 50px;
    outline: 0 none;
    width: 200px;}

.bt_style:hover{
    background: rgba(0, 0, 0, 0) linear-gradient(to top, #8B0000 0%, #8B0000 100%) repeat scroll 0 0 padding-box;}
	
.int_style5{
	width:265px;
	float:left;
	padding:14px 0px 0px 60px;}

.int_style5 a{
	color:#333333;
	font-size:14px;
	line-height:20px;
	text-decoration:underline;}
	
.int_style5 a:hover{
	text-decoration:none;}

.part_style1{
	width:325px;
	float:left;}

.part_style2{
	width:242px;
	float:right;
	padding:100px 0px 0px 45px;}

.part_style_text1{
	width: 100%;
	float: left;
	font-size: 14px;
	color: #000000;
	line-height: 14px;
	font-weight: bold;
	padding: 0px 0px 10px 0px;
}

.part_style_text2{
	width:100%;
	float:left;
	margin:0px 0px 5px 0px;}
	
.part_style_text2 a{
	font-size: 14px;
	line-height: 20px;
	color: #000000;
	text-decoration: underline;
}	
	
.part_style_text2 a:hover{
	text-decoration:none;}	

.part_style_text3{
	width:100%;
	float:left;
	margin:0px 0px 20px 0px;}

.part_style_text3 a{
	font-size: 14px;
	line-height: 20px;
	color: #000000;
	text-decoration: underline;
}	
	
.part_style_text3 a:hover{
	text-decoration:none;}	

.part_style_text5{
	width:100%;
	float:left;}	

.bt_style2{
	background: rgba(0, 0, 0, 0) linear-gradient(to top, #ffffff 0%, #f0f0f0 100%) repeat scroll 0 0 padding-box;
	border: 1px solid #cdcdcd;
	border-radius: 4px;
	color: #000000;
	cursor: pointer;
	font-family: Helvetica-Neue,Helvetica,Arial,sans-serif;
	font-size: 13px;
	font-weight: bold;
	height: 50px;
	outline: medium none;
	width: 168px;
}
	
.bt_style2:hover{
	background: rgba(0, 0, 0, 0) linear-gradient(to top, #CCCCCC 0%, #CCCCCC 100%) repeat scroll 0 0 padding-box;}

.style_bot{
	width:592px;
	float:left;
	background-image:url(../images/icon1.jpg);
	background-repeat:no-repeat;
	background-position:left center;
	margin:15px 0px 15px 16px;
	padding-left:16px;
	font-size:12px;
	font-weight:bold;}

.footer_wrap{
	width:100%;
	float:left;
	background-color: #f5f5f5;
    border-top: 1px solid #b8b8b8;
	padding:30px 0px;
	margin-top:30px;}

.footer_wrap_sup{
	width:948px;
	margin:0px auto;}
	
.footer_style1{
	width:100%;
	float:left;}

.footer_st2{
	width: 50%;
	float: left;
	background-image: url(../images/icon2.jpg);
	background-repeat: no-repeat;
	background-position: left center;
	font-size: 13px;
	color: #000000;
	font-weight: bold;
	padding: 6px 0px 3px 25px;
}
	
.footer_st3{
	width:40%;
	float:right;
	margin-top:-5px;
	text-align:right;}
	
.footer_st3 span{
	color: #000000;
	font-size: 13px;
	padding: 0px 1px;
}

.footer_st3 a{
	color: #000000;
	font-size: 12px;
	text-decoration: underline;
}

.footer_st3 a:hover{
	text-decoration:none;}		

hr{	
	width:100%;
	float:left;
	border-bottom-style: hidden;
    border-color: #b8b8b8;
    border-top-style: solid;
    margin: 18px 0;}

.footer_st4{
	width: 100%;
	float: left;
	color: #FFFFFF;
	font-size: 10px;
	line-height: 10px;
	margin-top: 10px;
	margin-bottom: 8px;
}
	
.footer_st5{
	width:100%;
	float:left;
	color: #333333;
    font-size: 10px;
    line-height: 10px;
    margin-bottom: 8px;}	
	
.fot_sec1{
    border: 1px solid #acacac;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
    margin-bottom: 15px;
    padding: 12px 10px;
    width: 98%;
	float:left;}
	
.fot_sec_style1{
	width:100%;
	float:left;
    color: #707070;
    font-size: 12px;
    font-weight: bold;
    line-height: 16px;
    opacity: 0.9;}

.fot_sec_style2{
	width:100%;
	float:left;
	color: #707070;
    font-size: 12px;
    font-weight: bold;
    line-height: 16px;
    margin: 12px 0 0;
    opacity: 0.9;}
	
.dot{
	padding-left:6px;
	padding-right:6px;}

.last_fot_style{
	width:100%;
	float:left;
	font-size: 10px;
    font-weight: bold;}

.last_fot_style2{
	width:100%;
	float:left;
	font-size:10px;
	line-height:10px;
	color:#333;
	margin:10px 0px 0px 0px;}

.last_fot_style3{
	width:100%;
	float:left;
	font-size: 10px;
    font-weight: bold;
	line-height:10px;
	margin:10px 0px 0px 0px;}

.last_fot_style4{
	width:100%;
	float:left;
    font-size: 10px;
    line-height: 1.5;
    margin: 10px 0 0;}

.last_fot_style4 a{
	color: #000000;
	font-size: 10px;
	text-decoration: underline;
}

.last_fot_style4 a:hover{
	text-decoration:none;}

.last_fot_style5{
	width:100%;
	float:left;
    font-size: 10px;
    line-height: 2;
    margin: 10px 0 0;}

.last_fot_style5 a{
    color: #000000;
    font-size: 10px;
    text-decoration: underline;}

.last_fot_style5 a:hover{
	text-decoration:none;}

.inn_wrap{
	width:100%;
	float:left;
	padding:10px 0px;}

.ver_wrap{
	color: #fff;
    font-size: 16px;
	font-weight:bold;
    height: 49px;
    line-height: 57px;
    width: 237px;
    text-align: center;
	float:left;
	background-image:url(../images/img1.png);
	background-repeat:no-repeat;}
	
.ver_wrap2{
	color: #fff;
    font-size: 16px;
	font-weight:bold;
    height: 49px;
    line-height: 57px;
    width: 237px;
    text-align: center;
	float:left;
	background-image:url(../images/img2.png);
	background-repeat:no-repeat;}

.very_acc{
	width: 100%;
	float: left;
	color: #C1272D;
	font-weight: 700;
	padding: 15px 0px 15px 0px;
	font-size: 24px;
}

.for_inq{	
    background: -moz-linear-gradient(f5f5f5, rgba(251,252,252,1) 0%, rgba(251,252,252,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(251,252,252,1)), color-stop(100%, rgba(251,252,252))); /* safari4+,chrome */
    background: -webkit-linear-gradient(f5f5f5, rgba(251,252,252,1) 0%, rgba(251,252,252,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(f5f5f5, rgba(246,251,253,1) 0%, rgba(211,236,247,1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(f5f5f5, rgba(246,251,253,1) 0%, rgba(211,236,247,1) 100%); /* ie10+ */
    background: linear-gradient(f5f5f5, rgba(246,251,253,1) 0%, rgba(211,236,247,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfbfbf', endColorstr='#bfbfbf',GradientType=0 ); /* ie6-9 */
    border-color: #bfbfbf;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    float: left;
    padding: 15px 15px;
    position: relative;
    width: 915px;}

.for_style1{
	width: 100%;
	float: left;
	padding: 15px 0px 5px 0px;
	font-size: 15px;
	margin-bottom: 10px;
	font-weight: bold;
	border-bottom: 1px solid #ccc;
	color: #C1272D;
}

.for_style2{
	width:100%;
	float:left;}

.for_style_tsxt1{
	font-size:13px;
	color:#333333;
	font-weight:bold;}

.for_style_tsxt2{
	font-size:14px;
	color:#C1272D;
	font-weight:bold;}

.int_val{    
	border: 1px solid #cdcdcd;
    border-radius: 2px;
    box-shadow: none;
    color: #666666;
    float: left;
    font-size: 12px;
    height: 30px;
    line-height: 30px;
    outline: medium none;
    padding: 0 0 0 5px;
	width:240px;
	margin-left:12px;
	float:left;}

.int_val2{    
	border: 1px solid #cdcdcd;
    border-radius: 2px;
    box-shadow: none;
    color: #666666;
    float: left;
    font-size: 12px;
    height: 30px;
    line-height: 30px;
    outline: medium none;
    padding: 0 0 0 5px;
	width:67px;
	margin-left:12px;
	float:left;}

.int_val3{    
	border: 1px solid #cdcdcd;
    border-radius: 2px;
    box-shadow: none;
    color: #666666;
    float: left;
    font-size: 12px;
    height: 30px;
    line-height: 30px;
    outline: medium none;
    padding: 0 0 0 5px;
	width:74px;
	margin-left:12px;
	float:left;}	

.int_val4{    
	border: 1px solid #cdcdcd;
    border-radius: 2px;
    box-shadow: none;
    color: #666666;
    float: left;
    font-size: 12px;
    height: 30px;
    line-height: 30px;
    outline: medium none;
    padding: 0 0 0 5px;
	width:100px;
	margin-left:12px;
	float:left;}
	
.fly{
    color: #666;
    float: left;
    font-size: 12px;
    padding: 8px 7px;}	
	
	
	
